<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onProfileButtonPressed()">
        Profile
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onProfileButtonPressed()">
          Profile
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- Tarjeta fija con la información del usuario -->
  <div class="user-info">
    <ion-card>
      <ion-card-content>
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img [src]="user?.photoURL || 'assets/default-avatar.png'" alt="Foto de perfil">
          </ion-avatar>
          <ion-label>
            <h2>{{ user?.displayName || 'Nombre no disponible' }}</h2>
            <p>Correo Electrónico: {{ user?.email }}</p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Lista de personajes usando ion-list -->
  <ion-list class="character-list">
    <ion-item *ngFor="let character of characters">
      <ion-avatar slot="start">
        <img [src]="character.image" alt="Imagen del personaje">
      </ion-avatar>
      <ion-label>
        <h2>{{ character.name }}</h2>
        <p>Especie: {{ character.species }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Botón para respaldar personajes -->
  <ion-button
    expand="block"
    class="backup-characters-button"
    (click)="saveCharactersToFirebase()">
    RESPALDAR PERSONAJES
  </ion-button>

  <!-- Botón de Cerrar Sesión fijo en la parte inferior -->
  <ion-button
    expand="block"
    class="close-session-button"
    (click)="onSignOutButtonPressed()">
    Cerrar Sesión
  </ion-button>
</ion-content>
