.user-info {
  position: fixed;
  top: 48px;
  left: 16px;
  right: 16px;
  z-index: 1;
}

.close-session-button {
  position: fixed;
  bottom: 16px;
  left: 16px;
  right: 16px;
  z-index: 1;
}

.open-characters-button {
  position: fixed;
  bottom: 72px; /* 8px por encima del botón de Cerrar Sesión */
  left: 16px;
  right: 16px;
  z-index: 1;
}

.character-list {
  margin: 0;
  padding: 0;
}
