.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 32px;
  padding-right: 32px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-avatar {
  width: 120px;
  height: 120px;
  margin-top: 16px;
  margin-bottom: 16px;
}

ion-label, ion-item {
  text-align: center;
  width: 100%;
}

.update-profile-button {
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 16px;
}
