<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Manteniendo el ion-header con collapse="condense" de develop -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Manteniendo la estructura de develop -->
  <div id="container">
    <ion-label>
      Correo Electrónico: {{ email }}
    </ion-label>
  </div>
</ion-content>

